.bg-img-lg {
    background-image: url('../../assets/images/Angkor.jpg'); 
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.bg-img {
    background-image: url('../../assets/images/Search Page.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
}
.results-list {
    position: absolute;
    top: calc(100% - 400px); /* Adjust the distance from the search bar */
    left: 45.5%; /* Center the results horizontally */
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9); /* Adjust background color and opacity */
    border-radius: 5px;
    z-index: 1; /* Ensure the results appear above the image */
    max-height: 250px;
    overflow-y: scroll;
}

