

/* Homepage bar */
.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.title {
  text-decoration: none;
  font-size: 4vh;
  color: rgb(255, 255, 255);
  padding: 0 17px;
  text-align: center;
  vertical-align: center;
}
.place {
  font-size: x-large;
  margin-right: 10px;
}
.title h1 {
  font-size: 10vh;
  text-shadow: 2px black;
  transition: ease 0.3s;
}

.title h1:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.button {
  display: inline-block;
  width: 15%;
  height: 1%;
  text-align: center;
  margin: 0 0 10px 20px;
  font-size: small;
  text-decoration: none;
  background: #8b7997;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20%;
  box-shadow: 0px 1px 5px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}
.button:hover {
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -5px) scale(1.2);
  transform: translate(0px, -5px) scale(1.2);
}
.search {
  height: 50%;
  width: 50%;
}

#search-icon {
  color: royalblue;
}
.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}
.results-list {
  width: 100%;
  background-color: rgb(28, 24, 24);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #0a0707;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 200px;
  text-align: start;
  font-size: medium;
  overflow-y: auto;
}

/* Why choose us */

.column,
.centeral {
  flex: 20%;
  max-width: 25%;
  padding: 5px 8px;
}

.column img {
  border-radius: 30px;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 50%;
}

.centeral img {
  border-radius: 30px;
  margin-top: 150px;
  vertical-align: middle;
  width: 100%;
}
.choose {
  text-align: center;
  margin-left: 20%;
}
.choose h1 {
  text-transform: uppercase;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #5158e1;
  background-clip: text;
}
.alternating {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 32px;
  margin: 40px auto;
  border: 1px solid #eee;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
  text-rendering: optimizelegibility;
  letter-spacing: -0.25px;
  text-align: start;
}
.alternating li {
  color: #4f4f4f;
  padding-left: 14px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
}
.alternating strong {
  color: #34c1da;
}

.choose ol {
  padding-left: 80px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 1200px) {
  .column {
    flex: 40%;
    flex-wrap: wrap;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}
/* Our recommendation */

.image:hover {
  filter: brightness(120%);
  transform: scale(1.03);
}

.col-content {
  position: relative;
  filter: brightness(95%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.col-content img {
  margin-bottom: 40px;
  height: 500px;
  border-radius: 27px;
  width: 100%;
}

.col-content h5 {
  position: absolute;
  font-size: 25px;
  color: white;
  font-weight: 500;
  left: 20px;
  bottom: 105px;
  cursor: pointer;
}

.col-content p {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 20px;
  bottom: 80px;
  cursor: pointer;
}

.col-content:hover {
  filter: brightness(120%);
  transform: scale(1.03);
  cursor: pointer;
}

/* new lastest */
.carousel {
  margin: 30px auto 200px;
  padding: 0 80px;
}
.carousel .carousel-item {
  text-align: center;
  overflow: hidden;
}
.carousel .carousel-item h4 {
  font-family: "Varela Round", sans-serif;
}
.carousel .carousel-item img {
  max-width: 90%;
  display: inline-block;
}
.carousel .carousel-item .btn {
  border-radius: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background: #a177ff;
  padding: 6px 15px;
  margin-top: 5px;
}
.carousel .carousel-item .btn:hover {
  background: #8c5bff;
}
.carousel .carousel-item .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
.carousel .thumb-wrapper {
  margin: 5px;
  text-align: left;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.carousel .thumb-content {
  padding: 15px;
  font-size: 13px;
}
.carousel-control-prev,
.carousel-control-next {
  height: 44px;
  width: 44px;
  background: none;
  margin: auto 0;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.8);
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  font-weight: bold;
}
.carousel-control-prev i {
  margin-left: -3px;
}
.carousel-control-next i {
  margin-right: -3px;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 4px;
  border: none;
}
.carousel-indicators li {
  background: #ababab;
}
.carousel-indicators li.active {
  background: #555;
}

/* Login */
